    * {
    border: 0px green dashed;
}

@font-face {
    font-family: 'tf2build';
    src: url('../font/tf2build-webfont.woff') format('woff');
}

body {
    background-color: #141313;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #cacaca;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: #f7af51;
}

a:hover {
    color: #bf7b23;
}

img {
    border: none;
}

.clear {
    clear: both;
}


/* Backgrounds*/

#bg_01 {
    background-image: url(../images/header.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

#container_01 {
    background-image: url(../images/header.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 990px;
    height: 975px;
}

#bg_02 {
    background-image: url(../images/bg_2.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

#container_02 {
    background-image: url(../images/bg_2.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 990px;
    height: 1080px;
}

#bg_03 {
    background-image: url(../images/bg_3.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

#container_03 {
    background-image: url(../images/bg_3.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 990px;
    height: 1578px;
    z-index: 1;
}

#bg_04 {
    background-image: url(../images/bg_4.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

#container_04 {
    background-image: url(../images/bg_4.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 990px;
    height: 1089px;
}

#bg_05 {
    background-image: url(../images/bg_5.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

#container_05 {
    background-image: url(../images/bg_5.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 990px;
    height: 1234px;
}


/* Texts */

#hero-text {
    position: absolute;
    width: 660px;
    text-align: center;
    color: #cacaca;
    left: 180px;
    top: 50px;
    font-size: 16px;
    line-height: 24px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#greetings {
    position: absolute;
    width: 200px;
    text-align: left;
    color: #cacaca;
    left: 630px;
    top: 300px;
    font-size: 16px;
    line-height: 24px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.concern-header {
    font-family: "tf2build";
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 30px;
}

#mojo {
    position: absolute;
    width: 250px;
    text-align: left;
    color: #cacaca;
    left: 120px;
    top: 430px;
    font-size: 16px;
    line-height: 24px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#flamesmodel {
    position: absolute;
    width: 250px;
    text-align: right;
    color: #cacaca;
    left: 650px;
    top: 1050px;
    font-size: 16px;
    line-height: 24px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#airblast {
    position: absolute;
    width: 350px;
    text-align: center;
    color: #cacaca;
    left: 340px;
    top: 70px;
    font-size: 16px;
    line-height: 24px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#afterburn {
    position: absolute;
    width: 230px;
    text-align: left;
    color: #cacaca;
    left: 685px;
    top: 920px;
    font-size: 16px;
    line-height: 24px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#view {
    position: absolute;
    width: 230px;
    text-align: left;
    color: #cacaca;
    left: 405px;
    top: 920px;
    font-size: 16px;
    line-height: 24px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#abrange {
    position: absolute;
    width: 230px;
    text-align: left;
    color: #cacaca;
    left: 115px;
    top: 920px;
    font-size: 16px;
    line-height: 24px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#whywecare {
    position: absolute;
    width: 660px;
    text-align: center;
    color: #cacaca;
    left: 180px;
    top: 150px;
    font-size: 16px;
    line-height: 24px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#insite {
    position: absolute;
    width: 600px;
    text-align: center;
    color: #cacaca;
    left: 240px;
    top: 650px;
    font-size: 16px;
    line-height: 24px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#footer {
    position: absolute;
    width: 660px;
    text-align: center;
    color: rgba(202, 202, 202, 0.62);
    left: 180px;
    top: 1190px;
    font-size: 12px;
    line-height: 0px;
}


/* Players table */

#pyro_wrap {
    position: absolute;
    width: 660px;
    font-size: 14px;
    left: 180px;
    top: 570px;
    line-height: 18px;
}

#pyro_wrap a {
    color: #cacaca;
}

#ugc {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    vertical-align: top;
}

.wrap-header {
    width: 100%;
    font-family: "tf2build";
    font-size: 32px;
    margin-bottom: 30px;
    color: #f7af51;
}

#etfl {
    float: left;
    width: 49%;
    margin-bottom: 30px;
}

#aus {
    float: right;
    width: 49%;
    margin-bottom: 30px;
}

.player {
    width: 75px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.player_img img {
    width: 60px;
    height: 60px;
    background-color: azure;
    margin: 0 auto;
}

.player_name {
    margin-top: 10px;
}

/* images for player*/

#mojoimg {
    position: absolute;
    width: 220px;
    height:147px;
    left: 120px;
    top: 650px;
    background-image:url(../images/mojoplayer.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.75);
}

#viewimg {
    position: absolute;
    width: 220px;
    height:147px;
    left: 680px;
    top: 1300px;
    background-image:url(../images/viewparts.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.75);
}

#airblastimg {
    position: absolute;
    width: 220px;
    height:147px;
    left: 400px;
    top: 260px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.75);
}

#afterburnimg {
    position: absolute;
    width: 230px;
    left: 685px;
    top: 740px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.75);
}

#viewmodelimg {
    position: absolute;
    width: 230px;
    left: 405px;
    top: 740px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.75);
}

#abrangeimg {
    position: absolute;
    width: 230px;
    left: 115px;
    top: 740px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.75);
}
    


/* Social block*/

.share-button-container{
	text-align:center;
	position: absolute;
    width: 800px;
    height: 400px;
    font-size: 14px;
    left: 100px;
    top: 250px;
    line-height: 18px;
    background-image: url(../images/share.png);
        background-repeat: no-repeat;
    background-position: center;
}

.addthis_sharing_toolbox {
margin-top:250px;
}